@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

*{
    background-color: black;
    font-family: Tourney ;
    color: rgb(55, 229, 32);
}


body{
    background-color: black;
}

.nav-color{
    color: rgb(55, 229, 32);
}

.navbar-toggler{
    background-color: rgb(55, 229, 32);
}

 .navbar-toggler-icon{
    background-color: aliceblue;
 }

 .small{
  font-size: 20px;
 
}

.card-footer{
    background-color: black;
    
}

.card-footer a{
    color: rgb(55, 229, 32);
}
