@import url("https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap");

* {
  font-family: Tourney;
  color: rgb(55, 229, 32);
}

body{
    background-color: black;
}

.nav-color {
  color: rgb(55, 229, 32);
}

.navbar-toggler {
  background-color: rgb(55, 229, 32);
}

.navbar-toggler-icon {
  background-color: aliceblue;
}

nav{
    
    margin-bottom: 60px;
}

.card-ale {
  margin: 0 30%;
  background-color: black;    
  padding: 2%;
  border: 1px solid rgb(55, 229, 32);

}

.card-ale img {
    border-radius: 50%;
    width: 100%;
}

.card{
    background-color: black;
}


.sec-soy p{
 
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 20px;
    font-size: 20px;
  
}

.small{
  font-size: 20px;
}

.estudio h3{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 50px;
}

.estudio li {
  font-size: 30px;
}

.btn-outline-light{
  margin-left: 42%;
  background-color: rgb(55, 229, 32);
}

.btn{
  color: rgb(55, 229, 32);
  background-color: black;
  border: 1px solid rgb(55, 229, 32);
  font-size: 30px;
}

/* Small devices (landscape phones, 576px and up) sm */
@media (width <= 575px) { 
 
    section h2{
        text-align: center;
    }
}

@media (min-width : 576px){
     section h2{
        text-align: center;
    }
}


/* Medium devices (tablets, 768px and up)  md*/
@media (min-width: 768px) { 
      section h2{
        text-align: center;
    }
 }

/* Large devices (desktops, 992px and up) lg */
@media (min-width: 992px) {
      section h2{
        text-align: center;
    }
}
